@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "dropzone/dist/dropzone";

html {
    @apply scroll-smooth;
    @screen 2xl {
        font-size: 1.2rem;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.dropzone {
    margin-bottom: 20px;
    min-height: auto;
}

.dropzone.dz-drag-hover {
    border-color: theme("colors.nu-green") !important;
    .dz-message {
        @apply text-nu-green opacity-100;
    }
}

* {
    font-family: Montserrat, sans-serif;
}

svg {
    @apply w-full h-full;
}

[x-cloak] {
    display: none !important;
}

.btn {
    @apply py-1.5 rounded-md bg-nu-secondary text-white text-xs hover:bg-nu-secondary/80 uppercase font-semibold tracking-widest;
}

.btn-link {
    @apply relative flex pl-4 pr-10 py-1.5 border-2 border-nu-secondary border-solid rounded-md text-xs text-nu-secondary font-medium transition-colors duration-150;

    &::after {
        content: url("../../public/svg/chevron-down.svg");
        filter: invert(37%) sepia(94%) saturate(2346%) hue-rotate(202deg)
            brightness(101%) contrast(86%);
        @apply absolute right-4 top-1/2 transform -translate-y-1/2 -rotate-90 w-3 transition-all duration-150;
    }

    &:hover {
        @apply bg-nu-secondary text-white;

        &::after {
            filter: invert(100%) sepia(15%) saturate(2%) hue-rotate(158deg)
                brightness(110%) contrast(101%);
            @apply translate-x-1;
        }
    }
}

.input {
    @apply block w-full border border-nu-gray-200 text-sm;

    &:focus + div {
        @apply bg-nu-primary;
    }
}

.select {
    @apply relative;

    select {
        @apply appearance-none;
    }

    &::after {
        content: url("../../public/svg/chevron-down.svg");
        filter: invert(100%) sepia(15%) saturate(2%) hue-rotate(158deg)
            brightness(110%) contrast(101%);
        @apply absolute top-1/2 -translate-y-1/2 right-4 w-4 pointer-events-none;
    }
}

.title {
    @apply relative text-base font-medium w-fit leading-5 pb-2 overflow-hidden;

    &::after {
        content: "";
        @apply absolute bottom-0 left-0 h-0.5 w-8 bg-nu-primary transform -translate-x-full transition-transform duration-200 rounded-full;
    }

    &--underline::after {
        @apply translate-x-0;
    }
}

.box {
    @apply bg-white shadow-drop;

    &--big {
        @apply p-6;
    }

    &--small {
        @apply p-4;
    }
}

::-webkit-scrollbar,
option::-webkit-scrollbar {
    width: 0.6rem;
}

::-webkit-scrollbar-track,
option::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 white;
    background-color: white;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb,
option::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.2, theme("colors.nu-primary")),
        color-stop(0.8, lighten(#110133, 10%))
    );
}
